.App {
  text-align: center;
}

.PostCard {
  display: grid;
  grid-row-gap: 30px;
  margin-bottom:30px;
  margin-left:3px;
  grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
}
.Title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Reccoment_Title{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.test{
  /* border:1px solid black; */
  align-items:center;
}

.MobileResponse {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: "100%";
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.PostTitle {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(218, 206, 206);
  border-radius: 10px;
  align-items: center;
  height: 400px;
  justify-content: center;
}

.CardDesign {
  max-width: 330px;
  height: 420px;
  /* border-bottom:4px solid rgb(83, 82, 82);  */
  /* border-radius: 10px; */
  cursor:pointer;
}
.hr2 {
  border: 0;
  height: 3px;
  background: #0489db;
  background-image: linear-gradient(to right, #c7bfbf, #033f64, #ccc);;
}
.CardDesign:hover{
   /* color: rgb(75, 59, 59); */
   transition-duration: 1s;
   /* opacity:0.6; */
}
.CardDesign:hover .thumbnail-img{
  transform:scale(1.5);
  transition-duration:1s;
}

.thumbnail-img-container {
  height: 180px;
  width: 100%;
  overflow:hidden;
}

.PostCard-Profile-Name{
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  width:85%;
}
.login-container {
  height: 660px;
  min-width: 100%;
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.Signin-container {
  height: 660px;
  min-width: 100%;
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.Title{
  border:none;
  /* width:100%; */
  border-bottom:1px solid rgb(240, 235, 235);
}
#input::placeholder {
  color:white;
}
#input{
  background-color:transparent;
  color:white;
}
.Post-Container{
  width:100%;
  /* border:1px solid black; */
}
.AddPostContainer{
  width:100%;
  height:100%;
  background-image: linear-gradient(to bottom left, rgb(71, 9, 241), rgb(185, 177, 201));
  /* border:1px solid black; */
}
textarea::placeholder {
  color:white;
}
textarea{
  color:white;
  background-color: transparent;
  border:1px solid white;
}
.login-box {
  min-width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  border-radius: 10px;
  background-color: rgb(39, 34, 34);
}

::-webkit-input-placeholder {
  color: white;
}

.Sign-box {
  min-width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  border-radius: 10px;
  background-color: rgb(59, 49, 49);
}

.login-input {
  margin-top: 30px;
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  width: 80%;
  height: 40px;
  /* margin-bottom:10px */
}

input:focus {
  outline: none;
}

.file-input {
  /* visibility: hidden; */
  display: none;
  width: 50%;
}

.file-label {
  padding: 8px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  /* border:1px solid black; */
  background-color: rgb(67, 138, 201);
}

.file-box {
  width: 82%;
  padding: 4px;
  display:flex;
  justify-content: space-between;
  /* border:1px solid black; */
  color: white
}
.DetailMainContainer{
  display:grid;
  grid-template-columns:3fr 1fr;
  width:100%;
}
.DetailScreen{
  min-height:500px;
  padding:10px;
  width:97%;
  margin-top:10px;
}
.RecommandScreen{
  position:fixed;
  right: 0;
  width:30%;
  height:80%;
  overflow-y:auto;
  padding:10px;
  bottom:1;
  /* background-color: rgb(219, 219, 231); */

}
.BlogThumbnail{
  height:300px;
  width:100%;
}
.Description{
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.ReccomentCard{
  display:flex;
  height:100px;
  justify-content: space-between;
  border-radius:1px;
  margin-bottom:10px  ;
  background-color:rgba(255, 253, 253, 0.959);
}
.ReccomentImage{
  width:40%;
  height:100%
}
.CommentTextBox{
  margin-bottom: 100px;
  width:100%;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
.ReccomentDetail{
  width:60%;
  height:100%
}
.userComment{
  border:1px solid black;
  border-radius: 10px;
  padding:10px;
  justify-content: space-around;
}
@media (max-width:768px) {
  .login-container {
    min-height: 700px;
    width: 100%;
    background-image: url('../public/small-back.jpg');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center center;
  }

  .Signin-container {
    min-height: 700px;
    width: 100%;
    background-image: url('../public/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .DetailMainContainer {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      width: 100%;
  }

  .login-box {
    min-width: 300px;
    height: 400px;
  }

  .Sign-box {
    min-width: 300px;
    height: 600px;
    opacity: 0.8
  }

  .Input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    width: 100%;
    height: 40px;
  }

  .file-label {
    padding: 8px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(27, 125, 211);
  }

  .file-box {
    width: 100%;
  }
    .BlogThumbnail {
      height: 200px;
      width:100%
    }
    .RecommandScreen {
      position: sticky;
      top: 10;
      width: 100%;
      height: 100%;
      padding: 10px;
    }
}